<mat-toolbar color="primary">
  <span>Welcome to Rigved Cabs!</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter Issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="request_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Request Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.request_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="req_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.req_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickup_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pickup Time</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pickup_time}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickup_add">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pickup Location</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pickup_add}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="drop_add">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Drop Location</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.drop_add}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="drop_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Drop Time</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.drop_time}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"
          (click)="startEdit(i, row.req_name,row.req_comp,row.req_mail,row.req_num,row.veh_seg,row.pickup_loc,row.from_date,row.drop_loc,row.pickup_add,row.drop_add,row.pickup_time,row.drop_time,row.hire_type,row.for_use,row.request_id,row.veh_id,row.GSTIN,row.start_km,row.end_km,row.driver)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent"
          (click)="deleteItem(i, row.req_name,row.req_comp,row.req_mail,row.req_num,row.veh_seg,row.pickup_loc,row.from_date,row.drop_loc,row.pickup_add,row.drop_add,row.pickup_time,row.drop_time,row.hire_type,row.for_use,row.request_id,row.veh_id,row.GSTIN,row.start_km,row.end_km,row.driver)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>